body{
  background-color: rgb(249,249,249);
}
.container-par{
  width: 65%;
  background-color: white;
}
.title{
  margin-top: 50px;
}
.form-control input{
  border-radius: 0px;
}
form{
  width: 90%;
}
.nationbutton{
  text-align: left;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 0px;
  color: grey;
  font-size: 15px;
}
.search-region{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu1{
 /* max-height: 250px;
  overflow-y: auto;
  list-style: none;*/
}
.ul-header{
  background-color: rgb(252,222,204);
  color: rgb(239,91,0);
  padding: 10px 20px;
  border-bottom: 0.5px solid rgb(224,224,224);
}
.tel{
  background-color: white;
  border: 1px solid gainsboro;
  border-radius:0px;
  color: grey;
}
.telinput{
  border-radius: 0px;
  border: 1px solid gainsboro;
  border-left: none;
  font-size: 15px;
}
.warning{
  color: rgb(255,111,61);
}
.imageyan{
  border-left: 1px solid gainsboro;
}
.ragin{
  /*margin-top: 50px;*/
  background-color: rgb(255,103,0);
  border-radius: 0px;
  color: white;
}
.sendCode{
  background-color: white;
  color: grey;
  height: 46px;
  border: 1px solid gainsboro;
  border-left: none;
  border-radius: 0px;
}
#submit{
  margin-top: 30px;
}
.agreement{
  color: grey;
}
.agreement a{
  color: black;
  font-weight: 700;
}
