.header-top{
  background-color:firebrick;
  height: 100px;
}

.header-nav-text{
  margin-bottom: -10px;
}
.header-nav-text li{
  color:darkgray ;
  line-height: 50px;
  display: inline-block;
}

.header-nav-text ul{
  /*background-color: red;*/
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom:0px;
  padding: 0px;
}
.header-nav-text li+li{
  margin-left: 20px;
}

.header-nav-text a,.header-nav-text2 a{
  color: grey;
}
.header-nav-text a:hover,.header-nav-text2 a:hover{
  color: white;
}

.shopcar{
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: black;
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
  position: relative;

}
.shopcar:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0px;
  background-color: whitesmoke;
  opacity: 0.2;

}
.shop-text{
  width: 300px;
  text-align: center;

}
.content-nav{
  padding: 0px;
  margin-bottom: 0px;
}
.content-nav li{
  display: inline-block;
  margin-left: 30px;
  font-size: 18px;
  line-height: 100px;
  color: black;
}
.content-nav li:hover{
  color: whitesmoke;
}
.search{
  margin-top: 30px;
  position: relative;
  width: 80%;
  height: 50px;
  border-radius: 0px;
}
#hotsearch{
    /*width:140px;*/
    height:20px;
    background-color:gainsboro;
    position: absolute;
    top:15px;
    left:50px
}
.hotsearch a+a{
  margin-left: 15px;
}
.buttonsearch{
  width: 20%;
  height: 50px;
  border-radius: 0px;
  border: 1px solid gainsboro;
  background-color: white;
  border-left: none;
}
/*
.simage image{
  width: 70px;
  height: 70px;
}
*/
.bgcolor{
  background-color: peachpuff;
  color: white;
  border-bottom:none ;
}
body{
  background-color: whitesmoke;
}
.nav-ul li{
  margin-left: 20px;
}
.hotcontent{
  margin-top:-30px
}
.dropdown-menu{
  left: 0px;
}
.dropdown-menu li:hover{
  background-color: gainsboro;
}
.li-header{
  font-size: 20px;
  /*margin-top: 20px;*/
}
.li-header+.li-header{
  padding-top: 50px;
  padding-bottom: 50px;
}
#personCenter{
  color: gainsboro;
  width: 100px;
}
#shopcartoggle{
  color: gainsboro;
}
#shopcartoggle:hover{
  background-color:white;
  color: rgb(255,103,0);
}
#personCenter:hover{
  background-color:white;
  color: rgb(255,103,0);
}
#dropdownMenuPerson{
  color: black;
  min-width: 100px;
  border-radius:0px;
  border: none;
}
#hover1:hover,#hover2:hover{
  color: white;
}
#togglecontent{
  max-width:350px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-content{
  padding: 0px;
}
#header-nav a{
  color: grey;
}
#header-nav a:hover{
  color: white;
}
.path{
  margin-left: -15px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0px;
  color: grey;
}
#homePage{
  color: grey;
}
#asideUl li{
  /*margin: 20px 20px;*/
  padding: 0px;
}
#asideUl{
  margin: 30px 20px;
}
#asideUl a{
  color: grey;
}
#li-header a{
  color:grey;
  margin: 0px;
}

.nav > li > a{
  padding: 5px 10px;
}
.nav #li-header1,.nav #li-header2,.nav #li-header3,.nav #li-header4{
  font-size: 20px;
  color: black;
  padding: 10px 0px;
}
#li-header1 a, #li-header2 a,#li-header3 a,#li-header4 a{
  color: black;
}
.headPortrait{
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: white;
  position: absolute;
  top:50%;
  left:40px;
  transform: translateY(-50%);
}
.contentMain{
  height: 270px;
}
.contentMain i{
  font-size: 160px;
  color: rgb(241,241,241);
}
#gerenxinxi{
  position: absolute;
  top:50%;
  transform: translatey(-50%);
  left:200px;
}
.name,.safety{
  color: black;
  font-size: 20px;
}
.time{
  color: grey;
}
#gerenxinxi p{
  margin-left: 15px;
}
#modifyInformtion{
  color: rgb(255,103,0);
}
.contentMain2{
  position: relative;
  height: 270px;
}
#account{
  position: absolute;
  top:50%;
  transform: translatey(-50%);
  left:100px;
}
.safety span{
  color: rgb(255,103,0);
}
.telaccount,.youxiang{
  color: black;
}
.button{
  background-color:rgb(255,103,0) ;
  color: white;
  border-radius: 0px;
  width: 100px;
  height: 30px;
  position: absolute;
  top:52%;
  right: 20px;
}
.horizontalLine{
  border: 1px rgb(241,241,241) solid;
  position: absolute;
  top:270px;
  width: 90%;
  left: 5%;
}
.up1,.up2,.up3,.up4{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  position: absolute;
  top:50px;
  left: 40px;
  background-color: rgb(255,103,9);
}
.up1 i,.up2 i,.up3 i,.up4 i{
  font-size: 60px;
  line-height: 120px;
  color: white;
}
.up2{
  background-color: rgb(139,195,74);
}
.up3{
  background-color: rgb(33,150,243);
}
.up4{
  background-color: rgb(255,171,0);
}
.up1text p:nth-of-type(1){
  color: grey;
  font-size: 20px;
  margin-bottom: 0px;
}
.up1text p:nth-of-type(1) span{
  color:rgb(255,103,9) ;
}
.up1text a{
  color: black;
}
.up1text{
  position: absolute;
  top:110px;
  left:180px;
  transform: translatey(-50%);
}
.content-r{
  /*height: 360px;*/
}
.add{
  /*padding-top: 20px;*/
  padding-left: 15px;
}
.add1{
  height: 200px;
  border: 1px rgb(224,224,224) solid;
  /*margin-top: 40px;*/
}

#addAddress{
  width: 72px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
 }
#addAddress i{
  font-size: 35px;
 color: rgb(224,224,224);
}
#addAddress span{
  font-size: 18px;
  color: rgb(224,224,224);
}
.modalForm{
  padding: 20px 25px;
}
.form-control{
  border-radius: 0px;
  font-size: 16px;
}
#uName,#telNum,#addree,#detailAddress,#postcode,#addresstitle{
  font-size: 15px;
}
#addree{
  border-right: none;
}
.aa{
  background-color: white;
  border-radius: 0px;
  border-left: none;
}
#save{
  position: absolute;
  top:50%;
  left:30%;
  transform: translateY(-50%);
  width: 100px;
  background-color: rgb(255,103,0);
  border-radius: 0px;
  color: white;
}
#cancel{
  position: absolute;
  top:50%;
  right:30%;
  transform: translateY(-50%);
  width: 100px;
  background-color: rgb(138,138,138);
  border-radius: 0px;
  color: white;
}
.input-group select{
  float: left;
  width: 120px;
}
#title{
  margin-left: 40px;
  margin-top: 20px;
}
.update,.delete{
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: rgb(255,103,0);
}
.update{
  right: 50px;
}
.content2{
  padding-left: 20px;
  padding-top: 20px;
}
.telphone,.address,.detail{
  color: grey;
}
.add{
  width: 277.48px;
  position: absolute;
  top:53px;
  left: 0px;
}
.detail{
  white-space:pre-wrap;
  word-wrap:break-word;
  max-width:100%
}

