
.register{
  background-color: rgb(245,102,0);
}
.form{
  border: 1px gainsboro solid;
  padding: 35px 40px;
  background-color: white;
  height: 507px;
}
.contentrow{
  position: relative;
}
.formcontent{
  position: absolute;
  top:138px;
  right: 80px;
}
.formtitle{
  font-size: 28px;
  color: rgb(102,102,102);
}
.formtitle1{
  margin-left: 35px;
}
.formtitle2{
  margin-left: 5.83px;
}
.a{
  margin-bottom: 35px;
}
.accountInput{
  height: 50px;
  border-radius: 0px;
  margin-bottom: 20px;
}
.sd{
  /*padding: 0px 40px;*/
}
.margin-botttom{
  margin-bottom: 30px;
}
.register{
  border-radius: 0px;
  height: 50px;
  font-size: 20px;
  color: white;
}
.tishi {
  margin-top: 60px;
  color: rgb(165,165,194);
}

.tishi a{
  color: rgb(165,165,194);
}
.tishi a:nth-of-type(1){
  color: rgb(165,165,194);
  margin-left: 91px;

}
.footerForm{
  margin-top: 60px;
  position: relative;
}
.text{
  color: gainsboro;
  position: absolute;
  top:-10px;
  left:33.33%;
}
.xian{
  border: 1px solid gainsboro;
  width: 100%;
}
.aa1{
  padding-right: 0px;
}
.aa2{
  padding-left: 0px;
}
.image1{
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: grey;
  font-size: 25px;
  line-height: 40px;
  color: white;
}
.footer{
  margin-top: 20px;
}
