.navv li{
  min-width: 155px;
}
.navbar2{
  margin-top: 0px;
}
#navbar{
border: none;
}
#navb a{
  padding-left: 0px;
  padding-right: 0px;
}
#navb p{
  border: 1px gainsboro solid;
  height: 10px;
}
.navc{
  border:none;
  background-color: rgb(245,245,245);
}
.a {
  height: 30px;
  border: 1px solid gainsboro;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.navimage li{
  width: 285px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.navimage li:nth-of-type(1){
  margin-left: 0px;
}
.fujian{
  padding-right: 10px;
  padding-left:10px ;
}
.jili{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-size: 20px;
}

.visiable{
  visibility: hidden;
}
.dtt{
  color: black;
}
.nav-tabs{
  border-bottom: none;
}

.li{
  position: relative;

}
.footer{
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0px;
  background-color: rgb(131,196,78);
  color: white;
  padding-left: 20px;
}
.footer2{
  background-color: rgb(255,172,19);
}
.footer3{
  background-color: rgb(299,57,53);
}
.pagination li a{
  border: none;
  font-size: 20px;
  margin-left: 30px;
  background-color: transparent;
  color: rgb(176,176,182);
}
.a1,.a2{
  width: 100%;
  border: 1px solid gainsboro;
}
.a3{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: -22px;
  color: rgb(117,117,117);
}
.ul-love li{
  width: 226px;
  margin-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.ul-love .thumbnail{
  border: none;
}
.ul-love li:nth-of-type(1){
  margin-left: 0px;
}
.ul-love p{
  margin-top: 30px;
  color: black;
}
